      body{
            background-color:#fcf8e8;
          }
        hr{

            border-style: dotted none none;
            border-color:grey;
            border-width: 5px;

            width:5%
          }
          h3{
            color:#66BFBF
          }
          h2{

            font-family:cursive;
            color: #66BFBE

          }
